*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
    color: #a0b1c5;
}
a{
    text-decoration: none;
}
body{
    background: #0b1622;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
    list-style-position: inside;
    color: #a0b1c5;
 
}

  .nav__img{
    width: 120px;
    float: left; 
  }
 
  .navbar{
   background-color: #080c13;
  }
  
  footer{ 
    background: #152232;
    height: auto;
    width: 100%;
    padding-top: 10px;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: relative;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;


    h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }   

        p{
            max-width: 500px;
            margin: 10px auto;
            line-height: 28px;
            font-size: 14px;
        }
}
.footer__redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;


    li{
        margin: 0 10px;
    }
        a{
            text-decoration: none;
            color: #fff;
        

            i{
                font-size: 1.1rem;
                transition: color .4s ease;
            }       
        }
                a:hover i{
                            color: aqua;
                }
}
.footer__bottom{
    background-color: #080c13;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

    p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

        span{
            text-transform: uppercase;
            opacity: .4;
            font-weight: 200;
        }
}   
.noticias__aside{
  animation-duration: 3s;
  animation-name: slidein;
  background-color: #151f2e;
  height: 100%;
  width: 100%;
}



.paraTransicion:hover {
  transition: 3s;
  font-size: 3rem;
}

@media (max-width: 600px){
  *{
    font-size:15px ;
  }
}


.carousel-inner {
  width: 50vw;
  }